
<style>
  #bg-video_website_mobile {
    display: none !important;
  }
  #bg-video_website {
    display: none;
  }
  
  .bgimg{
    display: none !important;
    background: none !important;
  }
  .pagebgimg{
    position: fixed;
    top: 0;
    left: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    z-index: -10;
    height: 100vh;
    width: 100vw;
    {% if section.settings.pagebg_image %}
    background-image: url('{{ section.settings.pagebg_image | img_url: 'master' }}');
    {% endif %}
  }

    #bg-video_page_mobile {
      display: none;
    }

  @media screen and (max-width: 500px){
    .pagebgimg{
{% if section.settings.pagebg_image_mobile %}
      background-image: url('{{ section.settings.pagebg_image_mobile | img_url: 'master' }}');
{% endif %}
    }
  }
  
  {% if section.settings.show_page_bg_color %}
    .pagebgimg{
      background: {{ section.settings.page_bg_solid_color }};
      background: {{ section.settings.page_bg_solid_color_gradient }};
    }
  {% endif %}
  {% if section.settings.show_video_bg_page %}
    .pagebgimg{
      background-image: none !important;
      background-color: none !important;
    }
    .bgimg{
      background-image: none !important;
      background-color: none !important;
    }
    #bg-video_page {
      position: fixed;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      object-fit: cover;
      overflow: hidden;
      z-index: -9;
    }
  {% endif %}

  {% if section.settings.background_video_url_page_mobile %}
    @media screen and (max-width: 500px){
    .pagebgimg{
      background-color: none !important;
    }
    
    #bg-video_page {
      display: none;
    }
    #bg-video_page_mobile {
      display: block;
      position: fixed;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      object-fit: cover;
      overflow: hidden;
      z-index: -9;
    }
    }
  {% endif %}
</style>
<div class="pagebgimg">

{% if section.settings.show_video_bg_page %}
  <video autoplay loop muted playsinline id="bg-video_page">
    <source src="{{ section.settings.background_video_url_page }}" type="video/mp4">
  </video>
  <video autoplay loop muted playsinline id="bg-video_page_mobile">
    <source src="{{ section.settings.background_video_url_page_mobile }}" type="video/mp4">
  </video>
  {% endif %}
</div>

{% schema %}
  {
    "name": "Password Background",
    "settings": [
      {
      "type": "image_picker",
      "id": "pagebg_image",
      "label": "Background Image/Gif"
      },
      {
      "type": "image_picker",
      "id": "pagebg_image_mobile",
      "label": "Mobile Background Image/Gif"
      },
      {
      "type": "checkbox",
      "id": "show_page_bg_color",
      "info": "Background will be replaced with solid color",
      "label": "Change Background With Color",
      "default": false
      },
      {
        "type": "color",
        "id": "page_bg_solid_color",
        "label": "Background Color",
        "default": "#000000"
      },
      {
        "type": "color_background",
        "id": "page_bg_solid_color_gradient",
        "label": "Gradient Color"
      },
      {
        "type": "checkbox",
        "id": "show_video_bg_page",
        "info": "Background will be replaced with Video",
        "label": "Change Background With Video",
        "default": false
      },
      {
        "type": "text",
        "id": "background_video_url_page",
        "label": "Video Url",
        "info": "Upload your video to Files and then paste the link here"
      },
      {
        "type": "text",
        "id": "background_video_url_page_mobile",
        "label": "Mobile Video Url",
        "info": "If you want use the same video as for PC, just paste the same link"
      }
    ]
  }
{% endschema %}

